name: EC2 auto deploy

on:
 push:
   branches: [ main ]
   types: [closed]

 workflow_dispatch:

jobs:
 build:
   runs-on: ubuntu-latest
   steps:
     # BranchをCheckout
     - name: Checkout
       uses: actions/checkout@v2

     - name: setup node
       uses: actions/setup-node@v1
       with:
          node-version: '14.x'

     - name: install
       run: npm ci

     - name: build
       run: npm run build

     # デプロイする
     - name: Deploy
       run: |
         # SCPで転送する
         echo "${{ secrets.EC2_PRIVATE_KEY }}" > private_key
         chmod 600 private_key
         mv ./public ./index
         ssh -oStrictHostKeyChecking=no -i private_key -r ./index ${{ secrets.EC2_USER_NAME }}@${{ secrets.EC2_HOST_NAME }} rm -rf /var/www/html/index/
         scp -oStrictHostKeyChecking=no -i private_key -r ./index ${{ secrets.EC2_USER_NAME }}@${{ secrets.EC2_HOST_NAME }}:/var/www/html/
