name: EC2 auto deploy

on:
 push:
   branches: [ main ]

 workflow_dispatch:

jobs:
 build:
   runs-on: ubuntu-latest
   steps:
     # BranchをCheckout
     - name: Checkout
       uses: actions/checkout@v2

     - name: setup node
       uses: actions/setup-node@v1
       with:
          node-version: '14.x'

     - name: install
       run: npm ci

     - name: build
       run: npm run build

     # デプロイする
     - name: deploy to server
       uses: AEnterprise/rsync-deploy@v1.0
       env:
         DEPLOY_KEY: ${{ secrets.EC2_PRIVATE_KEY }}
         ARGS: "-avzr --delete"
         SERVER_PORT: ${{ secrets.EC2_PORT }}
         FOLDER: "./public/"
         SERVER_IP: ${{ secrets.EC2_HOST_NAME }}
         USERNAME: ${{ secrets.EC2_USER_NAME }}
         SERVER_DESTINATION: ${{ secrets.EC2_DESTINATION }}
